@import "styles/variables.scss";

$lineWith: 2px;
$diagonalLineHeight: 91px;
$straightLineHeight: 65px;

@mixin line($height, $deg) {
    content: "";
    display: block;
    position: absolute;
    background-color: #fff;
    width: $lineWith;
    height: $height;
    transform: rotateZ($deg);
}

.cell {
    width: 60px;
    height: 60px;
    border: 2px solid $secondaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    color: $mainColor;
}

.red {
    color: $redColor;
}

.green {
    color: $greenColor;
}

.l-diagonal {
    position: relative;

    &::after {
        @include line($diagonalLineHeight, 45deg);
    }
}

.r-diagonal {
    position: relative;

    &::after {
        @include line($diagonalLineHeight, 135deg);
    }
}

.horizontal {
    position: relative;

    &::after {
        @include line($straightLineHeight, 90deg);
    }
}

.vertical {
    position: relative;

    &::after {
        @include line($straightLineHeight, 180deg);
    }
}
