@import "styles/variables.scss";

.cell {
    width: 60px;
    height: 60px;
    border: 2px solid $secondaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $mainColor;
}

.win {
    border-color: green;
    background-color: palegreen;
}
